body {
    margin: 0;
}

.header-container {
    background-color: #1F2937;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.header-head {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 77%;
    margin: auto;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
    padding-right: 50px;
}

.header-link {
    font-size: 18px;
    display: flex;
    gap: 20px;
}

.header-hero {
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0;
}

.hero-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 35%;
}

.hero-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
    padding: 15px 0;
}

.header-signup {
    max-width: 100px;
    padding: 10px 0px;
    margin-top: 15px;
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    color: #E5E7EB;
}

.hero-image {
    max-width: 30%;
}

.center-details {
    padding: 50px 0;
}

.info-text {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 20px 0 30px 0;
}

.center-images {
    display: flex;
    justify-content: space-evenly;
}

.center-image {
    max-width: 20%;
    border-radius: 20px;
}

.center-text {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

.subtext {
    max-width: 200px;
    padding: 10px 30px;
}

.quote-container {
    background-color: #E5E7EB;
}

.quote-text {
    max-width: 70%;
    margin: auto;
}

.blockquote {
    padding: 50px 0;
    margin: 0;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
}

.quote-author {
    display: flex;
    justify-content: flex-end;
}

.bottom-container {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.bottom-center {
    display: flex;
    justify-content: space-evenly;
    background-color: #3882F6;
    max-width: 70%;
    padding: 20px 50px;
    border-radius: 10px;
    gap: 50px;
    margin: 20px 0;
}

.bottom-center-text {
    color: #E5E7EB;
}

.bottom-center-text-action {
    font-weight: bold;
}

.bottom-center-button {
    padding: 0 30px;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    background-color: #3882F6;
    color: #E5E7EB;
}

footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    color: white;
}